Repository cyberrangecz/frontend-training-portal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: codeStyle, unitTests, buildAngular, auto-tag

codeStyle:
  stage: codeStyle
  cache:
    key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
    - .npm/
    policy: pull
  script:
  - npm run lint

unitTests:
  stage: test
  cache:
    key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
    - .npm/
    policy: pull
  script:
  - npm run ci-test

buildAngular:
  stage: build
  cache:
    key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
    - .npm/
    policy: pull
  script:
  - npm run ci-build
  artifacts:
    paths:
    - ./dist
    expire_in: 1 hour

auto-tag:
  image: registry.gitlab.ics.muni.cz:443/csirt-mu-devel/csirt-mu-devel-artifact-repository/docker-common-ci:v0.1.6
  variables:
    GIT_STRATEGY: clone
  stage: auto-tag
  script:
  - source /app/export-tag-vars.sh VERSION.txt
  - echo $TAG_VERSION && echo $TAG_MESSAGE
  - /app/import-ssh-key.sh
  ...

Resolve "Fix failing docker push pipeline stage"
  Dockerfile
  VERSION.txt
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular, auto-tag

[CI/CD] CHANGELOG.md file updated with commits between the current and previous tag.
  CHANGELOG.md
Due: none

Fix failing pipeline
  VERSION.txt
Due: codeStyle, unitTests, buildAngular, auto-tag

Create release candidate tag
  .gitlab-ci.yml
  VERSION.txt
  package-lock.json
  package.json
  src/app/modules/sandbox-agenda/definition/sandbox-definition-overview-routing.module.ts
  src/app/modules/sandbox-agenda/definition/topology/sandbox-definition-topology-routing.module.ts
  src/app/modules/sandbox-agenda/definition/topology/sandbox-definition-topology.module.ts
  src/app/modules/sandbox-agenda/pool/detail/pool-detail-routing.module.ts
  src/app/modules/sandbox-agenda/pool/detail/sandbox-instance/sandbox-instance-topology.module.ts
  src/app/modules/training-agenda/adaptive-definition/overview/adaptive-definition-overview.module.ts
  src/app/modules/training-agenda/definition/overview/training-definition-overview.module.ts
  src/assets/kypo-sandbox-agenda/openstack-logo.png
  src/assets/kypo-sandbox-agenda/terraform-logo.png
Due: codeStyle, unitTests, buildAngular, auto-tag

Develop
  VERSION.txt
  package-lock.json
  package.json
  src/app/app.component.ts
Due: codeStyle, unitTests, buildAngular, auto-tag

Resolve "Add routing for run visualization tabs"
  VERSION.txt
  package-lock.json
  package.json
  src/app/app-routing.module.ts
Due: codeStyle, unitTests, buildAngular, auto-tag

Develop
  .gitlab-ci.yml
  VERSION.txt
Due: codeStyle, unitTests, buildAngular, auto-tag

Resolve "Bump versions of agendas"
  VERSION.txt
  package-lock.json
  package.json
  src/app/app-routing.module.ts
  src/app/modules/training-agenda/adaptive-instance/overview/detail/token/adaptive-access-token-detail-routing.module.ts
  src/app/modules/training-agenda/adaptive-instance/overview/detail/token/adaptive-access-token-detail.module.ts
  src/app/modules/training-agenda/mitre-techniques/mitre-techniques-routing.module.ts
  src/app/modules/training-agenda/mitre-techniques/mitre-techniques.module.ts
  src/app/modules/training-agenda/run/overview/mitre-techniques/mitre-techniques-routing.module.ts
  src/app/modules/training-agenda/run/overview/mitre-techniques/mitre-techniques.module.ts
  src/app/modules/training-agenda/run/overview/training-run-overview-routing.module.ts
  src/assets/kypo-config.json
  src/environments/kypo-config.local.json
Due: codeStyle, unitTests, buildAngular, auto-tag

Resolve "Bump patch version of training agenda"
  VERSION.txt
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular, auto-tag

Develop
  VERSION.txt
  package-lock.json
  package.json
  src/app/app-routing.module.ts
  src/app/app.component.ts
Due: codeStyle, unitTests, buildAngular, auto-tag

Merge develop into master
  README.MD
  VERSION.txt
  angular.json
  package-lock.json
  package.json
  src/.eslintrc.json
  src/app/app.component.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.ts
  src/app/components/home/portal-agenda-container/portal-agenda-container.component.html
  src/app/components/home/portal-agenda-container/portal-agenda-container.component.ts
  src/app/components/home/portal-agenda-container/portal-agenda-description/portal-agenda-description.component.ts
  src/app/components/home/portal-agenda-container/portal-agenda-link/portal-agenda-link.component.ts
  src/app/components/login/login.component.ts
  src/app/modules/training-agenda/adaptive-definition/overview/adaptive-definition-overview-routing.module.ts
  src/app/modules/training-agenda/adaptive-definition/overview/detail/adaptive-definition-detail.module.ts
  src/app/modules/training-agenda/adaptive-definition/overview/simulator/adaptive-definition-simulator-routing.module.ts
  src/app/modules/training-agenda/adaptive-definition/overview/simulator/adaptive-definition-simulator.module.ts
  src/app/modules/training-agenda/adaptive-instance/overview/detail/adaptive-instance-detail.module.ts
  src/app/modules/training-agenda/instance/overview/detail/results/training-instance-results-routing.module.ts
  src/app/modules/training-agenda/run/overview/results/adaptive/adaptive-run-results-routing.module.ts
  src/app/modules/training-agenda/run/overview/results/linear/training-run-results-routing.module.ts
  src/assets/kypo-config.json
  src/environments/kypo-config.local.json
  src/index.html
  src/styles.scss
  utils/json-server/db.js
  utils/json-server/routes.json
Due: codeStyle, unitTests, buildAngular, auto-tag

Develop
  VERSION.txt
  angular.json
  package-lock.json
  package.json
  src/.well-known/security.txt
  src/app/modules/sandbox-agenda/definition/sandbox-definition-overview.module.ts
  src/app/modules/sandbox-agenda/resources/sandbox-resources.module.ts
  src/assets/kypo-config.json
  src/assets/kypo-topology-graph/cloud.svg
  src/assets/kypo-topology-graph/desktop.svg
  src/assets/kypo-topology-graph/internet.svg
  src/assets/kypo-topology-graph/mail.svg
  src/assets/kypo-topology-graph/router.svg
  src/assets/kypo-topology-graph/switch.svg
  src/environments/kypo-config.local.json
  src/index.html
Due: codeStyle, unitTests, buildAngular, auto-tag

Develop
  .husky/pre-commit
  VERSION.txt
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular, auto-tag

Develop
  VERSION.txt
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular, auto-tag

Address changes in sandbox agenda.
  VERSION.txt
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular, auto-tag

Update to latest changes in training agenda and command visualization
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular

Bump sandbox agenda - reflect changes in resource pages
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular

Bump versions for stagining testing
  package-lock.json
  package.json
  src/app/app.component.ts
Due: codeStyle, unitTests, buildAngular

Fix integrity of package
  package-lock.json
Due: codeStyle, unitTests, buildAngular

Bump walkthrough visualization to address problem with chrome responsibility
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular

Bump hurdling viz
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular

Bump sandbox uuid changes
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular

Fix build
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular

Resolve problem regarding training run delete
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular

Bump sandbox agenda to enable sorting of the pool detail table
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular

Added cheating detection. Disabled the routing as it is causing huge performance issues
  .gitignore
  package-lock.json
  package.json
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/cheating-detection-create/cheating-detection-create-routing.module.ts
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/cheating-detection-create/cheating-detection-create.module.ts
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/detection-event/detection-event-detail/training-instance-detection-event-detail-routing.module.ts
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/detection-event/detection-event-detail/training-instance-detection-event-detail.module.ts
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/detection-event/training-instance-detection-event-routing.module.ts
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/detection-event/training-instance-detection-event.module.ts
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/training-instance-cheating-detection-routing.module.ts
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/training-instance-cheating-detection.module.ts
  src/app/modules/training-agenda/instance/overview/detail/training-instance-detail-routing.module.ts
Due: codeStyle, unitTests, buildAngular

Added slider for sandbox allocation
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular

Path conditions:
  codeStyle: not (any of: CHANGELOG.md)
  unitTests: not (any of: CHANGELOG.md)
  buildAngular: not (any of: CHANGELOG.md)
  auto-tag: any of: VERSION.txt
