Repository cyberrangecz/frontend-training-portal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: codeStyle, unitTests, buildAngular, auto-tag

.gitlab-ci.yml:

image: cypress/browsers:node14.17.0-chrome88-ff89

stages:
  - codeStyle
  - test
  - build
  - auto-tag
  - docker_image_push
  - docker_image_push_development

cache:
  key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
  paths:
    - .npm/

before_script:
  - cp $NPMRC_PULL ~/.npmrc
  - npm ci --cache .npm --prefer-offline --ignore-scripts

codeStyle:
  stage: codeStyle
  cache:
    key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
      - .npm/
    policy: pull
  script:
    - npm run lint
  only:
    - triggers
    - branches
  except:
    changes:
      - "CHANGELOG.md"
    refs:
      - master

unitTests:
  stage: test
  cache:
    key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
      - .npm/
    policy: pull
  script:
    - npm run ci-test
  only:
    - triggers
    - branches
  except:
    changes:
      - "CHANGELOG.md"
    refs:
      - master

buildAngular:
  stage: build
  cache:
    key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
      - .npm/
    policy: pull
  script:
    - npm run ci-build
  only:
    - triggers
    - branches
    - tags
  artifacts:
    paths:
      - ./dist
    expire_in: 1 hour
  except:
    changes:
      - "CHANGELOG.md"
    refs:
      - master

auto-tag:
  image: 'registry.gitlab.ics.muni.cz:443/csirt-mu-devel/csirt-mu-devel-artifact-repository/docker-common-ci:v0.1.6'
  variables:
    GIT_STRATEGY: clone
  stage: auto-tag
  script:
    - source /app/export-tag-vars.sh VERSION.txt
    - echo $TAG_VERSION && echo $TAG_MESSAGE
    - /app/import-ssh-key.sh
    - /app/prepare-git.sh
    - /app/create-changelog.sh
    - /app/tag-and-push.sh
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      changes:
        - VERSION.txt


docker_image_push:
  before_script: [] #prevent global before_script from running
  variables:
    CI_CUSTOM_IMAGE_NAME: kypo-frontend
  stage: docker_image_push
  image:
    name: gcr.io/kaniko-project/executor:v1.3.0-debug
    entrypoint: [ "" ]
  script:
    - export CI_CUSTOM_REGISTRY_IMAGE="${CI_REGISTRY}/${CI_CUSTOM_REGISTRY_PATH}/${CI_CUSTOM_IMAGE_NAME}"
    - export CI_DOCKER_TAG=$(if [[ "$CI_COMMIT_TAG" == "" ]]; then echo develop; else echo $CI_COMMIT_TAG; fi)
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_CUSTOM_REGISTRY_USER\",\"password\":\"$CI_CUSTOM_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/Dockerfile --destination $CI_CUSTOM_REGISTRY_IMAGE:$CI_DOCKER_TAG --build-arg SENTINEL_REGISTRY_HOST_NO_PROTO=$SENTINEL_REGISTRY_HOST_NO_PROTO --build-arg KYPO_REGISTRY_HOST_NO_PROTO=$KYPO_REGISTRY_HOST_NO_PROTO --build-arg SENTINEL_REGISTRY_ACCESS_TOKEN=$SENTINEL_REGISTRY_ACCESS_TOKEN --build-arg KYPO_REGISTRY_ACCESS_TOKEN=$KYPO_REGISTRY_ACCESS_TOKEN
  rules:
    - if: $CI_COMMIT_BRANCH == "develop"
    - if: $CI_COMMIT_TAG

Resolve latest problems in sandbox agenda
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular

Bump versions
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular

Disable cheating detection
  VERSION.txt
  package-lock.json
  package.json
  src/app/modules/training-agenda/instance/overview/detail/training-instance-detail-routing.module.ts
Due: codeStyle, unitTests, buildAngular, auto-tag

[CI/CD] CHANGELOG.md file updated with commits between the current and previous tag.
  CHANGELOG.md
Due: none

Bump sandbox agenda and api
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular

Updated cheating detection routing modules.
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/cheating-detection-create/cheating-detection-create-routing.module.ts
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/cheating-detection-create/cheating-detection-create.module.ts
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/detection-event/detection-event-detail/training-instance-detection-event-detail-routing.module.ts
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/detection-event/detection-event-detail/training-instance-detection-event-detail.module.ts
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/detection-event/training-instance-detection-event-routing.module.ts
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/detection-event/training-instance-detection-event.module.ts
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/training-instance-cheating-detection-routing.module.ts
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/training-instance-cheating-detection.module.ts
  src/app/modules/training-agenda/instance/overview/detail/training-instance-detail-routing.module.ts
Due: codeStyle, unitTests, buildAngular

Updated version and packages.
  VERSION.txt
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular, auto-tag

Updated version and packages. Enabled cheating detection.
  VERSION.txt
Due: codeStyle, unitTests, buildAngular, auto-tag

Updated routing of components.
  package.json
  src/app/app.component.ts
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/cheating-detection-create/cheating-detection-create-routing.module.ts
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/cheating-detection-create/cheating-detection-create.module.ts
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/detection-event/detection-event-detail/training-instance-detection-event-detail-routing.module.ts
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/detection-event/detection-event-detail/training-instance-detection-event-detail.module.ts
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/detection-event/training-instance-detection-event-routing.module.ts
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/detection-event/training-instance-detection-event.module.ts
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/training-instance-cheating-detection-routing.module.ts
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/training-instance-cheating-detection.module.ts
Due: codeStyle, unitTests, buildAngular

Update package.json with new version.
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular

Develop
  VERSION.txt
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular, auto-tag

Enabled cheating detection and updated version.
  VERSION.txt
  package-lock.json
Due: codeStyle, unitTests, buildAngular, auto-tag

Develop
  VERSION.txt
  package-lock.json
  package.json
  src/assets/kypo-topology-graph/docker.svg
Due: codeStyle, unitTests, buildAngular, auto-tag

Updated version and routing of cheating detection.
  VERSION.txt
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/cheating-detection-create/cheating-detection-create-routing.module.ts
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/training-instance-cheating-detection-routing.module.ts
Due: codeStyle, unitTests, buildAngular, auto-tag

Updated packages.
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular

Bump versions of training agenda and api.
  VERSION.txt
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular, auto-tag

Bump version of sandbox-api for sandbox allocation unit endpoint fix
  VERSION.txt
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular, auto-tag

Merge develop into master
  VERSION.txt
  angular.json
  package-lock.json
  package.json
  src/app/app.component.ts
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/cheating-detection-create/cheating-detection-create-routing.module.ts
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/cheating-detection-create/cheating-detection-create.module.ts
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/detection-event/detection-event-detail/training-instance-detection-event-detail-routing.module.ts
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/detection-event/detection-event-detail/training-instance-detection-event-detail.module.ts
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/detection-event/training-instance-detection-event-routing.module.ts
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/detection-event/training-instance-detection-event.module.ts
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/training-instance-cheating-detection-routing.module.ts
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/training-instance-cheating-detection.module.ts
  src/app/modules/training-agenda/instance/overview/detail/training-instance-detail-routing.module.ts
Due: codeStyle, unitTests, buildAngular, auto-tag

Updated cheating detection routing modules.
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/cheating-detection-create/cheating-detection-create-routing.module.ts
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/training-instance-cheating-detection-routing.module.ts
Due: codeStyle, unitTests, buildAngular

Updated version and routing of cheating detection.
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/cheating-detection-create/cheating-detection-create-routing.module.ts
Due: codeStyle, unitTests, buildAngular

Updated routing of components.
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/cheating-detection-create/cheating-detection-create-routing.module.ts
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/training-instance-cheating-detection-routing.module.ts
Due: codeStyle, unitTests, buildAngular

Bump versions for bug fix release.
  package-lock.json
Due: codeStyle, unitTests, buildAngular

Update package versions
  VERSION.txt
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular, auto-tag

Resolve "Update fixed agendas"
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular

Bump sandbox agenda library version.
  VERSION.txt
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular, auto-tag

Fix Docker node issue
  Dockerfile
  VERSION.txt
  package-lock.json
Due: codeStyle, unitTests, buildAngular, auto-tag

Add fixed agendas
  package-lock.json
  package.json
  src/assets/kypo-config.json
Due: codeStyle, unitTests, buildAngular

Add new ATD simulator with material styling
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular

Update to Angular 15
  README.MD
  package-lock.json
  package.json
  utils/json-server/db.js
  utils/json-server/routes.json
Due: codeStyle, unitTests, buildAngular

Update packages to Angular 15
  .eslintrc.json
  .gitlab-ci.yml
  README.MD
  angular.json
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/auth.module.ts
  src/app/components/home/home.module.ts
  src/app/components/home/portal-agenda-container/portal-agenda-link/portal-agenda-link.component.scss
  src/app/components/login/login.component.html
  src/app/components/login/login.component.scss
  src/app/utils/config.ts
  src/app/utils/nav-builder.spec.ts
  src/environments/kypo-dynamic-environment.ts
  src/main.ts
  src/test.ts
  src/theme.scss
Due: codeStyle, unitTests, buildAngular
