Repository cyberrangecz/frontend-training-portal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: codeStyle, unitTests, buildAngular, auto-tag

.gitlab-ci.yml:

image: cypress/browsers:node14.17.0-chrome88-ff89

stages:
  - codeStyle
  - test
  - build
  - auto-tag
  - docker_image_push
  - docker_image_push_development

cache:
  key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
  paths:
    - .npm/

before_script:
  - cp $NPMRC_PULL ~/.npmrc
  - npm ci --cache .npm --prefer-offline --ignore-scripts

codeStyle:
  stage: codeStyle
  cache:
    key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
      - .npm/
    policy: pull
  script:
    - npm run lint
  only:
    - triggers
    - branches
  except:
    changes:
      - "CHANGELOG.md"
    refs:
      - master

unitTests:
  stage: test
  cache:
    key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
      - .npm/
    policy: pull
  script:
    - npm run ci-test
  only:
    - triggers
    - branches
  except:
    changes:
      - "CHANGELOG.md"
    refs:
      - master

buildAngular:
  stage: build
  cache:
    key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
      - .npm/
    policy: pull
  script:
    - npm run ci-build
  only:
    - triggers
    - branches
    - tags
  artifacts:
    paths:
      - ./dist
    expire_in: 1 hour
  except:
    changes:
      - "CHANGELOG.md"
    refs:
      - master

auto-tag:
  image: 'registry.gitlab.ics.muni.cz:443/csirt-mu-devel/csirt-mu-devel-artifact-repository/docker-common-ci:v0.1.6'
  variables:
    GIT_STRATEGY: clone
  stage: auto-tag
  script:
    - source /app/export-tag-vars.sh VERSION.txt
    - echo $TAG_VERSION && echo $TAG_MESSAGE
    - /app/import-ssh-key.sh
    - /app/prepare-git.sh
    - /app/create-changelog.sh
    - /app/tag-and-push.sh
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      changes:
        - VERSION.txt


docker_image_push:
  before_script: [] #prevent global before_script from running
  variables:
    CI_CUSTOM_IMAGE_NAME: kypo-frontend
  stage: docker_image_push
  image:
    name: gcr.io/kaniko-project/executor:v1.3.0-debug
    entrypoint: [ "" ]
  script:
    - export CI_CUSTOM_REGISTRY_IMAGE="${CI_REGISTRY}/${CI_CUSTOM_REGISTRY_PATH}/${CI_CUSTOM_IMAGE_NAME}"
    - export CI_DOCKER_TAG=$(if [[ "$CI_COMMIT_TAG" == "" ]]; then echo develop; else echo $CI_COMMIT_TAG; fi)
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_CUSTOM_REGISTRY_USER\",\"password\":\"$CI_CUSTOM_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/Dockerfile --destination $CI_CUSTOM_REGISTRY_IMAGE:$CI_DOCKER_TAG --build-arg SENTINEL_REGISTRY_HOST_NO_PROTO=$SENTINEL_REGISTRY_HOST_NO_PROTO --build-arg KYPO_REGISTRY_HOST_NO_PROTO=$KYPO_REGISTRY_HOST_NO_PROTO --build-arg SENTINEL_REGISTRY_ACCESS_TOKEN=$SENTINEL_REGISTRY_ACCESS_TOKEN --build-arg KYPO_REGISTRY_ACCESS_TOKEN=$KYPO_REGISTRY_ACCESS_TOKEN
  rules:
    - if: $CI_COMMIT_BRANCH == "develop"
    - if: $CI_COMMIT_TAG

Resolve "Change sandbox resources tab to images"
  VERSION.txt
  package-lock.json
  package.json
  src/app/app-routing.module.ts
  src/app/components/home/home.component.ts
  src/app/modules/sandbox-agenda/images/sandbox-images-overview-routing.module.ts
  src/app/modules/sandbox-agenda/images/sandbox-images.module.ts
  src/app/utils/nav-builder.ts
Due: codeStyle, unitTests, buildAngular, auto-tag

update agendas, apis and sentinel components
  VERSION.txt
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular, auto-tag

regenerate package-lock
  package-lock.json
Due: codeStyle, unitTests, buildAngular

fix adaptive transition visualization version
  package-lock.json
Due: codeStyle, unitTests, buildAngular

Update versions
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular

Update last versions
  package-lock.json
Due: codeStyle, unitTests, buildAngular

Provide training api for pools overview
  src/app/modules/sandbox-agenda/pool/pool-overview.module.ts
Due: codeStyle, unitTests, buildAngular

Update VERSION.txt
  VERSION.txt
Due: codeStyle, unitTests, buildAngular, auto-tag

Update agendas and components
  VERSION.txt
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular, auto-tag

[CI/CD] CHANGELOG.md file updated with commits between the current and previous tag.
  CHANGELOG.md
Due: none

Remove training api provisioning in sandbox agenda
  VERSION.txt
  src/app/modules/sandbox-agenda/pool/pool-overview.module.ts
Due: codeStyle, unitTests, buildAngular, auto-tag

Update agenda versions
  VERSION.txt
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular, auto-tag

Update version in app.component.ts.
  src/app/app.component.ts
Due: codeStyle, unitTests, buildAngular

topology graph visual improvements.
  VERSION.txt
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular, auto-tag

Make json server compatible with uag api refactor
  utils/json-server/routes.json
Due: codeStyle, unitTests, buildAngular

Add proper interface to CanActivate guards
  src/app/services/guards/only-trainee.guard.service.ts
  src/app/services/guards/sandbox-designer-guard.service.ts
  src/app/services/guards/sandbox-organizer-guard.service.ts
  src/app/services/guards/trainee-guard.service.ts
  src/app/services/guards/training-designer-guard.service.ts
  src/app/services/guards/training-organizer-guard.service.ts
  src/app/services/guards/user-and-group-guard.service.ts
Due: codeStyle, unitTests, buildAngular

Remove unused guards dependencies
  src/app/services/guards/sandbox-designer-guard.service.ts
  src/app/services/guards/sandbox-organizer-guard.service.ts
  src/app/services/guards/trainee-guard.service.ts
  src/app/services/guards/training-designer-guard.service.ts
  src/app/services/guards/training-organizer-guard.service.ts
  src/app/services/guards/user-and-group-guard.service.ts
Due: codeStyle, unitTests, buildAngular

Update to Angular
  .gitlab-ci.yml
  .husky/pre-commit
  Dockerfile
  VERSION.txt
  angular.json
  package-lock.json
  package.json
  src/app/app.component.ts
  src/app/components/home/home.component.css
  src/app/components/home/home.component.ts
  src/app/components/login/login.component.html
  src/app/services/guards/only-trainee.guard.service.ts
  src/index.html
  src/styles.scss
  src/theme.scss
  src/variables.scss
Due: codeStyle, unitTests, buildAngular, auto-tag

Fix lint to build project properly
  src/.eslintrc.json
Due: codeStyle, unitTests, buildAngular

Run prettier-fix
  src/app/app-routing.module.ts
  src/app/app.component.ts
  src/app/components/home/home.component.ts
  src/app/model/agenda-portal-link.ts
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/cheating-detection-create/cheating-detection-create.module.ts
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/detection-event/detection-event-detail/training-instance-detection-event-detail.module.ts
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/detection-event/training-instance-detection-event-routing.module.ts
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/training-instance-cheating-detection-routing.module.ts
  src/app/modules/training-agenda/instance/overview/detail/training-instance-detail-routing.module.ts
  src/app/services/guards/only-trainee.guard.service.ts
  src/app/services/http-interceptors/error-log-interceptor.ts
  src/app/services/http-interceptors/loading-interceptor.ts
  src/app/services/http-interceptors/token-refresh-interceptor.ts
  src/app/services/shared/token-refresh.service.ts
  src/app/utils/nav-builder.ts
Due: codeStyle, unitTests, buildAngular

Change package-lock.json to force fsevents
  package-lock.json
Due: codeStyle, unitTests, buildAngular

Regenerate package-lock.json
  package-lock.json
Due: codeStyle, unitTests, buildAngular

Rework both package.json and package-lock.json to fix fsevents installation
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular

Re-enable pre-commit check
  .husky/pre-commit
Due: codeStyle, unitTests, buildAngular

Readmes, remove json server, update package.json, update environments, fix routes
  README.MD
  package-lock.json
  package.json
  src/app/modules/sandbox-agenda/pool/pool-overview-routing.module.ts
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/cheating-detection-create/cheating-detection-create.module.ts
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/detection-event/detection-event-detail/training-instance-detection-event-detail.module.ts
  src/app/modules/user-and-group-agenda/group/edit/group-edit-routing.module.ts
  src/app/modules/user-and-group-agenda/user-and-group-shared-providers.module.ts
  src/app/modules/user-and-group-agenda/user/user-overview-routing.module.ts
  src/assets/config.json
  src/environments/config.local.json
  utils/json-server/db.js
  utils/json-server/routes.json
  utils/json-server/server.js
Due: codeStyle, unitTests, buildAngular

Migration
  LICENSE
  README.MD
  angular.json
  package-lock.json
  package.json
  src/app/app.component.html
  src/app/app.component.scss
  src/app/components/home/home.component.css
  src/app/components/home/home.component.ts
  src/app/components/home/portal-agenda-container/portal-agenda-container.component.html
  src/app/components/home/portal-agenda-container/portal-agenda-container.component.scss
  src/app/components/home/portal-agenda-container/portal-agenda-link/portal-agenda-link.component.html
  src/app/components/home/portal-agenda-container/portal-agenda-link/portal-agenda-link.component.scss
  src/app/components/login/login.component.html
  src/app/components/login/login.component.scss
  src/assets/images/logo-blue.svg
  src/assets/images/logo.svg
  src/assets/topology-graph/cloud.svg
  src/assets/topology-graph/desktop.svg
  src/assets/topology-graph/docker.svg
  src/assets/topology-graph/internet.svg
  src/assets/topology-graph/mail.svg
  src/assets/topology-graph/router.svg
  src/assets/topology-graph/switch.svg
  src/index.html
  src/styles.scss
  src/theme.scss
  src/variables.scss
Due: codeStyle, unitTests, buildAngular

Fix docker build
  .dockerignore
  Dockerfile
  angular.json
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular

WIP add actions
  .github/workflows/github-actions.yml
Due: codeStyle, unitTests, buildAngular

update lock file
  package-lock.json
Due: codeStyle, unitTests, buildAngular

Homepage and guards rework
  .husky/pre-commit
  angular.json
  package-lock.json
  package.json
  src/app/app-routing.module.ts
  src/app/auth.module.ts
  src/app/components/home/portal-agenda-container/portal-agenda-description/portal-agenda-description.component.html
  src/app/components/home/portal-agenda-container/portal-agenda-description/portal-agenda-description.component.scss
  src/app/components/home/portal-agenda-container/portal-agenda-link/portal-agenda-link.component.html
  src/app/components/home/portal-agenda-container/portal-agenda-link/portal-agenda-link.component.scss
  src/app/services/guards/abstract.guard.service.ts
  src/app/services/guards/advanced-user.guard.service.ts
  src/app/services/guards/only-trainee.guard.service.ts
  src/app/services/guards/sandbox-designer-guard.service.ts
  src/app/services/guards/trainee-guard.service.ts
  src/app/services/guards/training-adaptive-designer-guard.service.ts
  src/app/services/guards/training-adaptive-organizer-guard.service.ts
  src/app/services/guards/training-designer-guard.service.ts
  src/app/services/guards/training-organizer-guard.service.ts
  src/app/services/guards/user-and-group-guard.service.ts
  src/app/utils/role-mapping.ts
  src/app/utils/role-resolver.ts
  src/assets/config.json
  src/environments/config.local.json
  src/index.html
Due: codeStyle, unitTests, buildAngular

Remove forgotten console logs
  src/app/services/guards/training-adaptive-designer-guard.service.ts
  src/app/utils/role-resolver.ts
Due: codeStyle, unitTests, buildAngular

Merge
  package.json
Due: codeStyle, unitTests, buildAngular
