Repository cyberrangecz/frontend-training-portal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: codeStyle, unitTests, buildAngular, auto-tag

codeStyle:
  stage: codeStyle
  cache:
    key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
    - .npm/
    policy: pull
  script:
  - npm run lint

unitTests:
  stage: test
  cache:
    key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
    - .npm/
    policy: pull
  script:
  - npm run ci-test

buildAngular:
  stage: build
  cache:
    key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
    - .npm/
    policy: pull
  script:
  - npm run ci-build
  artifacts:
    paths:
    - ./dist
    expire_in: 1 hour

auto-tag:
  image: registry.gitlab.ics.muni.cz:443/csirt-mu-devel/csirt-mu-devel-artifact-repository/docker-common-ci:v0.1.6
  variables:
    GIT_STRATEGY: clone
  stage: auto-tag
  script:
  - source /app/export-tag-vars.sh VERSION.txt
  - echo $TAG_VERSION && echo $TAG_MESSAGE
  - /app/import-ssh-key.sh
  ...

[CI/CD] CHANGELOG.md file updated with commits between the current and previous tag.
  CHANGELOG.md
Due: none

Resolve "Bump version of training agenda"
  VERSION.txt
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular, auto-tag

Add background to markdown code
  src/styles.scss
Due: codeStyle, unitTests, buildAngular

Fix paths
  src/assets/kypo-config.json
  src/environments/kypo-config.local.json
Due: codeStyle, unitTests, buildAngular

Resolve "Implement preloading strategy based on user roles"
  src/app/app-routing.module.ts
  src/app/utils/role-based-preloading.ts
Due: codeStyle, unitTests, buildAngular

Bump version of sentinel
  package-lock.json
  package.json
  src/main.ts
Due: codeStyle, unitTests, buildAngular

Resolve "Rename game level to training level"
  package-lock.json
  package.json
  src/app/components/home/home.component.ts
  src/app/modules/training-agenda/run/overview/training-run-overview-routing.module.ts
  src/assets/tour-guide-config.json
  utils/json-server/db.js
  utils/json-server/routes.json
Due: codeStyle, unitTests, buildAngular

Versions update, tag message
  VERSION.txt
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular, auto-tag

Resolve "Add theme for sentinel markdown"
  VERSION.txt
  src/theme.scss
Due: codeStyle, unitTests, buildAngular, auto-tag

Bump version of training agenda
  VERSION.txt
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular, auto-tag

Fix version
  VERSION.txt
Due: codeStyle, unitTests, buildAngular, auto-tag

Resolve "Add version to kypo config"
  VERSION.txt
  src/app/app.component.ts
  src/app/utils/config.ts
  src/assets/kypo-config.json
  src/environments/kypo-config.local.json
Due: codeStyle, unitTests, buildAngular, auto-tag

Bump training agenda and overview viz, tag message
  VERSION.txt
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular, auto-tag

Tag message
  VERSION.txt
  src/app/components/home/portal-agenda-container/portal-agenda-link/portal-agenda-link.component.ts
Due: codeStyle, unitTests, buildAngular, auto-tag

Itegration of the Apache Guacamole - bump versions of the topology graph, training agenda and sandbox agenda.
  VERSION.txt
  package-lock.json
  package.json
  src/assets/kypo-config.json
Due: codeStyle, unitTests, buildAngular, auto-tag

Add license file
  LICENSE
Due: codeStyle, unitTests, buildAngular

Resolve "Release 2021.12.0"
  VERSION.txt
  package-lock.json
  package.json
  src/app/modules/training-agenda/adaptive-definition/overview/adaptive-definition-overview-routing.module.ts
  src/app/modules/training-agenda/adaptive-definition/overview/detail/adaptive-definition-detail-routing.module.ts
  src/app/modules/training-agenda/adaptive-definition/overview/detail/adaptive-definition-detail.module.ts
  src/app/modules/training-agenda/adaptive-definition/overview/detail/summary/adaptive-definition-summary-routing.module.ts
  src/app/modules/training-agenda/adaptive-definition/overview/detail/summary/adaptive-definition-summary.module.ts
  src/app/modules/training-agenda/adaptive-instance/overview/detail/adaptive-instance-detail-routing.module.ts
  src/app/modules/training-agenda/adaptive-instance/overview/detail/progress/adaptive-instance-progress-routing.module.ts
  src/app/modules/training-agenda/adaptive-instance/overview/detail/progress/adaptive-instance-progress.module.ts
  src/app/modules/training-agenda/adaptive-instance/overview/detail/runs/adaptive-instance-runs-routing.module.ts
  src/app/modules/training-agenda/adaptive-instance/overview/detail/runs/adaptive-instance-runs.module.ts
  src/app/modules/training-agenda/definition/overview/detail/summary/training-definition-summary-routing.module.ts
  src/app/modules/training-agenda/definition/overview/detail/summary/training-definition-summary.module.ts
  src/app/modules/training-agenda/definition/overview/detail/training-definition-detail-routing.module.ts
  src/app/modules/training-agenda/definition/overview/detail/training-definition-detail.module.ts
  src/app/modules/training-agenda/definition/overview/training-definition-overview-routing.module.ts
  src/app/modules/training-agenda/instance/overview/detail/runs/training-instance-runs-routing.module.ts
  src/app/modules/training-agenda/instance/overview/detail/runs/training-instance-runs.module.ts
  src/app/modules/training-agenda/instance/overview/detail/training-instance-detail-routing.module.ts
  src/app/modules/training-agenda/instance/overview/training-instance-overview-routing.module.ts
  src/app/modules/training-agenda/run/overview/results/adaptive/adaptive-run-results-routing.module.ts
  src/app/modules/training-agenda/run/overview/results/adaptive/adaptive-run-results.module.ts
  src/app/modules/training-agenda/run/overview/results/linear/training-run-results-routing.module.ts
  src/app/modules/training-agenda/run/overview/results/linear/training-run-results.module.ts
  src/app/modules/training-agenda/run/overview/training-run-overview-routing.module.ts
  src/app/modules/user-and-group-agenda/group/detail/group-detail-routing.module.ts
  src/app/modules/user-and-group-agenda/group/detail/group-detail.module.ts
  src/app/modules/user-and-group-agenda/group/group-overview-routing.module.ts
  src/app/modules/user-and-group-agenda/user/detail/user-detail-routing.module.ts
  src/app/modules/user-and-group-agenda/user/detail/user-detail.module.ts
  src/app/modules/user-and-group-agenda/user/user-overview-routing.module.ts
  src/assets/kypo-config.json
  src/assets/kypo2-topology-graph/cloud.svg
  src/assets/kypo2-topology-graph/internet.svg
  src/assets/kypo2-topology-graph/server.svg
  src/assets/kypo2-topology-graph/switch.svg
Due: codeStyle, unitTests, buildAngular, auto-tag

Resolve "Latest versions update"
  VERSION.txt
  package-lock.json
  package.json
  src/assets/kypo-config.json
  src/environments/kypo-config.local.json
Due: codeStyle, unitTests, buildAngular, auto-tag

Resolve "Release new version"
  VERSION.txt
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular, auto-tag

Latest release
  VERSION.txt
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular, auto-tag

Resolve "Bump version of sandbox agenda"
  VERSION.txt
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular, auto-tag

Bump version
  VERSION.txt
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular, auto-tag

Remove Tour guide
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/modules/training-agenda/instance/overview/training-instance-overview-routing.module.ts
  src/app/services/tour-starter.service.ts
  src/app/utils/nav-builder.spec.ts
  src/app/utils/tour-guide-selector-formatter.ts
  src/assets/tour-guide-config.json
Due: codeStyle, unitTests, buildAngular

Resolve "Update to Angular 13"
  .gitignore
  .gitlab-ci.yml
  VERSION.txt
  package-lock.json
  package.json
  src/app/modules/training-agenda/adaptive-definition/overview/adaptive-definition-overview-routing.module.ts
  src/app/modules/training-agenda/adaptive-definition/overview/preview/adaptive-preview-routing.module.ts
  src/app/modules/training-agenda/adaptive-definition/overview/preview/adaptive-preview.module.ts
  src/polyfills.ts
  src/test.ts
  src/theme.scss
  src/variables.scss
Due: codeStyle, unitTests, buildAngular, auto-tag

Path conditions:
  codeStyle: not (any of: CHANGELOG.md)
  unitTests: not (any of: CHANGELOG.md)
  buildAngular: not (any of: CHANGELOG.md)
  auto-tag: any of: VERSION.txt
