Repository cyberrangecz/frontend-training-portal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: codeStyle, unitTests, buildAngular, auto-tag

codeStyle:
  stage: codeStyle
  cache:
    key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
    - .npm/
    policy: pull
  script:
  - npm run lint

unitTests:
  stage: test
  cache:
    key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
    - .npm/
    policy: pull
  script:
  - npm run ci-test

buildAngular:
  stage: build
  cache:
    key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
    - .npm/
    policy: pull
  script:
  - npm run ci-build
  artifacts:
    paths:
    - ./dist
    expire_in: 1 hour

auto-tag:
  image: registry.gitlab.ics.muni.cz:443/csirt-mu-devel/csirt-mu-devel-artifact-repository/docker-common-ci:v0.1.6
  variables:
    GIT_STRATEGY: clone
  stage: auto-tag
  script:
  - source /app/export-tag-vars.sh VERSION.txt
  - echo $TAG_VERSION && echo $TAG_MESSAGE
  - /app/import-ssh-key.sh
  ...

Update mock DB
  utils/json-server/db.js
  utils/json-server/routes.json
Due: codeStyle, unitTests, buildAngular

Update all libraries to newest versions
  VERSION.txt
  package-lock.json
  package.json
  src/environments/kypo-config.local.json
Due: codeStyle, unitTests, buildAngular, auto-tag

Updated versions of training agenda, api and model.
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular

[CI/CD] CHANGELOG.md file updated with commits between the current and previous tag.
  CHANGELOG.md
Due: none

Bump sanbdox agenda
  VERSION.txt
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular, auto-tag

Fix faulty training agenda
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular

Update README.MD
  README.MD
Due: codeStyle, unitTests, buildAngular

update packages
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular

Updated versions
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular

Update cheating detection projects
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular

Update version
  VERSION.txt
Due: codeStyle, unitTests, buildAngular, auto-tag

Cheating detection
  VERSION.txt
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular, auto-tag

Bump versions
  VERSION.txt
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular, auto-tag

Fix timeline module in cheating detection
  VERSION.txt
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular, auto-tag

Update packages
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular

Bump version of training agenda
  VERSION.txt
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular, auto-tag

Update version of agenda and visualizations
  VERSION.txt
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular, auto-tag

Add new version of command timeline
  VERSION.txt
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular, auto-tag

Update oackages
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular

Update to Angular 16
  .eslintrc.json
  .gitlab-ci.yml
  VERSION.txt
  package-lock.json
  package.json
  src/.eslintrc.json
  src/app/app.component.ts
  src/app/components/home/portal-agenda-container/portal-agenda-link/portal-agenda-link.component.scss
  src/app/services/guards/only-trainee.guard.service.ts
  src/app/services/guards/sandbox-designer-guard.service.ts
  src/app/services/guards/sandbox-organizer-guard.service.ts
  src/app/services/guards/trainee-guard.service.ts
  src/app/services/guards/training-designer-guard.service.ts
  src/app/services/guards/training-organizer-guard.service.ts
  src/app/services/guards/user-and-group-guard.service.ts
  src/app/services/shared/error-handler.service.ts
  src/assets/kypo-config.json
  src/environments/kypo-config.local.json
  tsconfig.base.json
  utils/json-server/db.js
  utils/json-server/routes.json
Due: codeStyle, unitTests, buildAngular, auto-tag

Updated cheating detection routing modules.
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/training-instance-cheating-detection-routing.module.ts
Due: codeStyle, unitTests, buildAngular

Updated routing of components.
  src/app/modules/training-agenda/instance/overview/detail/cheating-detection/training-instance-cheating-detection-routing.module.ts
Due: codeStyle, unitTests, buildAngular

Update sandbox pool agenda with new functions
  VERSION.txt
  package-lock.json
  package.json
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/modules/sandbox-agenda/pool/pool-overview-routing.module.ts
  utils/json-server/db.js
Due: codeStyle, unitTests, buildAngular, auto-tag

Bump all new agenda versions
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular

Add optional dependency for auto-tag
  package-lock.json
  package.json
Due: codeStyle, unitTests, buildAngular

Add interceptor for handling token expiration errors
  src/app/app.module.ts
  src/app/services/http-interceptors/token-refresh-interceptor.ts
  src/app/services/shared/token-refresh.service.ts
Due: codeStyle, unitTests, buildAngular

Update VERSION.txt
  VERSION.txt
Due: codeStyle, unitTests, buildAngular, auto-tag

Fix documentation
  src/app/services/http-interceptors/token-refresh-interceptor.ts
  src/app/services/shared/token-refresh.service.ts
Due: codeStyle, unitTests, buildAngular

Fix redundant queries and updating header
  src/app/services/http-interceptors/token-refresh-interceptor.ts
  src/app/services/shared/token-refresh.service.ts
Due: codeStyle, unitTests, buildAngular

Change version significance to medium
  VERSION.txt
Due: codeStyle, unitTests, buildAngular, auto-tag

Path conditions:
  codeStyle: not (any of: CHANGELOG.md)
  unitTests: not (any of: CHANGELOG.md)
  buildAngular: not (any of: CHANGELOG.md)
  auto-tag: any of: VERSION.txt
